.DS_Store
.env
.venv/
__pycache__/
*.pyc
.phpunit.result.cache

node_modules/
vendor/

laravel/.env
laravel/.phpunit.result.cache
laravel/node_modules/
laravel/vendor/
laravel/public/build/
laravel/storage/logs/*.log
laravel/storage/framework/cache/*
laravel/storage/framework/sessions/*
laravel/storage/framework/views/*
laravel/database/database.sqlite

engine/app/__pycache__/
